{% extends "layout.html" %}

{% block content%}
<h1>ARTE SOBRE RUEDAS</h1>
<p>Desde que se inventaron los coches, siempre han sido un objeto de fascinación para los artistas.</p>
<p>A continuación te presentamos una galeria selecta con los mas destacados de la coelccion BMW CAR ART</p>
<img src="{{ url_for('static', filename='assets/CA1.webp')}}" alt="">
<img src="{{ url_for('static', filename='assets/CA2.webp')}}" alt="">
<img src="{{ url_for('static', filename='assets/CA3.jpg')}}" alt="">
<img src="{{ url_for('static', filename='assets/CA4.webp')}}" alt="">
<img src="{{ url_for('static', filename='assets/CA5.jpg')}}" alt="">

{% endblock %}